.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.user {
    display: flex;
    height: 2rem;
    padding: 1rem;
    align-items: center;
}

.user:hover {
    cursor: pointer;
    background-color: rgb(241, 236, 236);
}


.search__input {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 1rem;
    scrollbar-width: none;
}

.search__input::-webkit-scrollbar {
    display: none;
}

.search__results {
    box-shadow: 10px 10px 5px rgb(240, 219, 248);
    background-color: rgb(236, 196, 238);
    max-height: 60vh;
    overflow-y: scroll;
}


input {
    border: none;
    outline: none;

}

.avatar_container {
    margin: 10px;
}